.idea/
.gradle/
build/
obj/
*.iml
local.properties
Ansible/.cxx/
Ansible/jniLibs/
Ansible/jniRes/
**/.DS_Store
Ansible/afat/
Ansible_App/afat/
Ansible_AppHockeyApp/afat/
Ansible_AppStandalone/afat/
Ansible_AppHuawei/afat/
Ansible/jni/ffmpeg/build_android
